<h1>Este es el chat de Darío Miguel</h1>

<div>
    <input type="text" id="chatInput">
</div>

<div id="chatBox"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/index.js"></script>